
<div class="w3-container w3-card w3-white">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Education</h2>

    {% for item in education %}
    <div class="w3-container">
        <h5 class="w3-opacity"><b>{{ item.title}}</b></h5>
        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ item.time_begin.year }} - {{ item.time_end.year }}</h6>
        <p>{{ item.description }}{% if item.finished %} <span class="w3-tag w3-blue w3-round">{{ item.finished_title }}</span>{% endif %}</p>
        <hr>
    </div>
    {% endfor %}

</div>